@import "tailwindcss";

@theme {
    --color-primary: #fff;
    --color-secondary: #7e7e7e;
    --color-accent: #579f4f;
    --color-background-primary: #020202;
    --color-background-accent: #020302;
    --color-border: #374151;
}
