@import "tailwindcss";

@theme {
  --color-primary: #fff;
  --color-secondary: #7e7e7e;
  --color-accent: #63b55b;
  --color-background-primary: #020202;
  --color-background-accent: #020302;
  --color-border: #374151;
}

* {
  box-sizing: border-box;
}

html {
  @apply scroll-smooth;
}

.terminal-cursor {
  border-right: 1px solid;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}