@import "tailwindcss";

@theme {
  --color-primary: #fff;
  --color-secondary: #7e7e7e;
  --color-accent: #63b55b;
  --color-background-primary: #020202;
  --color-background-accent: #020302;
  --color-border: #374151;
}

* {
  box-sizing: border-box;
}

html {
  @apply scroll-smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-background-primary);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 9999px;
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}